@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-cairo: var(--font-cairo);
}
* {
  box-sizing: border-box;
}
body {
  background: var(--background);
  color: var(--foreground);
}
.slider {
  overflow: hidden;
}
.slider .list {
  width: 100%;
  position: relative;
  height: var(--height);
  min-width: calc(var(--width) * var(--quntity));
}
.slider .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: autoScroll 10s linear infinite;
  animation-delay: calc((10s / var(--quntity)) * var(--index));
}
.slider .item img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .slider {
    --height: 100px !important;
    --width: 100px !important;
  }
}
@media (max-width: 1024px) {
  .slider {
    --height: 150px !important;
    --width: 150px !important;
  }
}
@media (min-width: 1024px) {
  .slider {
    --height: 200px !important;
    --width: 200px !important;
  }
}

@keyframes autoScroll {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
